@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-4">Write You Message</h3>
    <textarea id="messageText"></textarea>
    <button id="sendMessageButton">Send</button>
</div>
